
body{
     background-color: rgb(241, 241, 241);
}
*{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.title{
    text-align: center;
}
h1{
    color:red;
}
h2{
    color:blue;
    background-color:purple;
    padding:10px;
}
.card{
    width:200px;
    background-color:white;
    padding:15px;
    border-radius:15px;
    transition:transform .5s, border-radius .5s;
}
img{
    width:100%;
    border-radius:30px;
    overflow:hidden;
}
.content h3{
    color:red;
}
.social-icon{
    display:flex;
    justify-content:space-evenly;
    background-color:green;
    padding:10px;
    border-radius:30px;
}
.icon{
    height:50px;
    width:50px;
    background-color:green;
    font-size:2em;
    text-align:center;
    border-radius: 50%;

   transition:transform .4s;

}
.icon:hover{
    transform: scale(1.2);
    box-shadow:0 0 15px grey;
}
.card:hover{
    transform:scale(1.1);
     box-shadow:0 0 15px grey;
}
.container{
    display:flex;
    gap:30px;
    flex-wrap:wrap;
    justify-content:space-evenly;
}
.hero-img{
    width:100px;
    margin:0 auto;
    border-radius:0%;
}